*{
    padding: 0;
    margin: 0;}

body{
    background-color:black;
    display:flex;
    flex-direction: row;}

#conteudo{
    display: flex;
    width:75%;
    flex-direction:row;
    gap :190px;}

.esquerda{
    display:flex;
    align-items: flex-start;}

.direita{
    display:flex; 
    align-items: flex-end;}

.borda{
    display:flex;
    width:20%;
    flex-direction:column;
    margin: top 50px;
    gap:300px;}

button{
    height: 40px;
    width: 40px;}

.cinza{
    background-color:#1A1A1A;
    border-radius: 50%;}
    
.branco{
    background-color:white;
    border-radius: 50%;}

.cima{
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items:center;
}

.invertida{
    transform:rotate(180deg)
}

