*{
    padding: 0;
    margin: 0;}

body{
    background-color:black;
    display:flex;
    flex-direction: row;
    gap:20px;}

#conteudo{
    display: flex;
    width:75%;
    flex-direction:row;
    gap :40px;}

#esquerda{
    display:flex;
    align-items: flex-start;}

#direita{
    display:flex;
    margin-top:5px;
    align-items: flex-end;
    padding-right:40px}

.borda{
    display:flex;
    width:15%;
    flex-direction:column;
    margin: top 50px;
    gap:300px;}

button{
    height: 40px;
    width: 40px;}

.cinza{
    background-color:#1A1A1A;
    border-radius: 50%;}
    
.branco{
    margin-top:5px;
    background-color:white;
    border-radius: 50%;}

.cima{
    display:flex;
    flex-direction: row;
    gap: 25px;
    align-items:center;}

.invertida{
    transform:rotate(180deg)}
.x{
    margin-top: 5px;
    margin-left: 25px;
    align-items:center;}

#comentarios{
    background-color: #242526;
    width: 25%;
    height: 625px;
    gap: 20px;}

.config{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:20px;
}

.perfil{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    gap:5px;
}

.fotoperfil{
    border-radius:50%;}

.textoperfil{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    color:white
}

.tresP{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.texto{
    color:white;
    padding:10px;
    padding-left: 20px;
    
}