*{
    padding: 0;
    margin: 0;
}

body{
    background-color:black;
    display:flex;
    flex-direction: row;
    gap:20px;
}

#conteudo{
    display: flex;
    width:75%;
    flex-direction:row;
    gap :38px;
}

#esquerda{
    display:flex;
    align-items: flex-start;
}

#direita{
    display:flex;
    margin-top:20px;
    align-items: flex-end;
    padding-right:20px;
    gap:250px;
}

.borda{
    display:flex;
    width:15%;
    flex-direction:column;
    margin: top 50px;
    gap:265px;
}

button{
    height: 40px;
    width: 40px;
}

.cinza{
    background-color:#1A1A1A;
    border-radius: 50%;
}
    
.branco{
    margin-top:5px;
    background-color:white;
    border-radius: 50%;
    height: 36px;
    width: 30px;
    display:flex;
    align-items:center;
    padding-inline-end:5px;
}

.cima{
    display:flex;
    flex-direction: row;
    gap: 20px;
    align-items:center;
    height:40px;
}

.normal{
    display:flex;
    align-items:center;
    margin-left:10px;
    width: 42px;
    height: 44px;
    background-color: rgb(26,26,26);
    border-radius: 50%;
}

.invertida{
    display:flex;
    align-items:center;
    width: 42px;
    height: 44px;
    background-color:rgb(26,26,26);
    border-radius: 50%;
    transform:rotate(180deg)
}

.x{
    margin-top: 5px;
    margin-left: 25px;
    align-items:center;
}

#comentarios{
    background-color: #242526;
    width: 50%;
    height: 625px;
    gap: 20px;
}

.config{
    padding-top:10px;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:10px;
    margin-right:10px;
}

.perfil{
    width: 200px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 20px;
    gap:2px;
    text-align:start;
}

.fotoperfil{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:3px;
}

.textoperfil{
    width:120px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:14px
}

.tresP{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.texto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    color:white;
    padding:10px;
    padding-left: 20px;
}

.interacao{
    color: white;
    margin-top: 13px;
    padding-left: 10px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logoF{
    border-radius:50%;
    margin-right: 8px;
}

.bordaCinza{
    border-radius:50%;
    background-color:#4E4F50;
    width:32px;
    height:32px;
}

.imagtext{
    display:flex;
    flex-direction:row;
    gap:100px
}

.detalhe{
    color: #B0B3B8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
}

.dados{
    color: #B0B3B8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:2px;
}

.numero{
    margin-right: 65px;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:2px;
    gap:3px;
}